cu_cp:
  amf:
    addr: __PARTNER_IP__
    port: __NGAP_PORT__
    bind_addr: __RAN_IP__
    supported_tracking_areas:
      - tac: __PARTNER_TAC__
        plmn_list:
          - plmn: '__PARTNER_PLMN__'
            tai_slice_support_list:
              - sst: __SST__
cu_up:
  ngu:
    socket:
      - bind_addr: __RAN_IP__
ru_sdr:
  device_driver: zmq
  device_args: tx_port=tcp://127.0.0.1:__NR_ZMQ_GNB_TX_PORT__,rx_port=tcp://127.0.0.1:__NR_ZMQ_UE_TX_PORT__,base_srate=23.04e6
  srate: 23.04
  tx_gain: 75
  rx_gain: 75
cell_cfg:
  dl_arfcn: 368500
  band: 3
  channel_bandwidth_MHz: 20
  common_scs: 15
  plmn: '__PARTNER_PLMN__'
  tac: __PARTNER_TAC__
  pci: 1
  pdcch:
    common:
      ss0_index: 0
      coreset0_index: 12
    dedicated:
      ss2_type: common
      dci_format_0_1_and_1_1: false
  prach:
    prach_config_index: 1
  pdsch:
    mcs_table: qam64
  pusch:
    mcs_table: qam64
log:
  filename: /var/log/gnb-partner.log
  all_level: info
pcap:
  ngap_enable: true
  ngap_filename: /opt/telecom-lab/pcap/partner-ngap.pcap
