[rf]
tx_gain = 50
rx_gain = 40
srate = 23.04e6
nof_antennas = 1
device_name = zmq
device_args = tx_port=tcp://127.0.0.1:__NR_ZMQ_UE_TX_PORT__,rx_port=tcp://127.0.0.1:__NR_ZMQ_GNB_TX_PORT__,base_srate=23.04e6

[rat.eutra]
dl_earfcn = 2850

[rat.nr]
bands = 3
nof_carriers = 1
max_nof_prb = 106

[usim]
mode = soft
algo = milenage
opc = __PARTNER_OPC__
k = __PARTNER_K__
imsi = __PARTNER_IMSI__
imei = 353490069873319

[nas]
apn = __DNN__
apn_protocol = ipv4

[slicing]
enable = true
nssai-sst = __SST__

[gw]
netns = ue2
ip_devname = tun_srsue
ip_netmask = 255.255.255.0

[log]
all_level = info
filename = /var/log/srsue-partner.log

[gui]
enable = false
