logger:
  file:
    path: /var/log/open5gs/nrf.log
global:
  max:
    ue: 1024
nrf:
  serving:
    - plmn_id:
        mcc: '__PARTNER_MCC__'
        mnc: '__PARTNER_MNC__'
  sbi:
    server:
      - address: 127.0.0.10
        port: 7777
