logger:
  file:
    path: /var/log/open5gs/sgwc.log
global:
  max:
    ue: 1024
sgwc:
  gtpc:
    server:
      - address: 127.0.0.3
  pfcp:
    server:
      - address: 127.0.0.3
    client:
      sgwu:
        - address: 127.0.0.6
