logger:
  file:
    path: /var/log/open5gs/smf.log
global:
  max:
    ue: 1024
smf:
  sbi:
    server:
      - address: 127.0.0.4
        port: 7777
    client:
      scp:
        - uri: http://127.0.0.200:7777
  pfcp:
    server:
      - address: 127.0.0.4
    client:
      upf:
        - address: 127.0.0.7
  gtpc:
    server:
      - address: 127.0.0.4
  gtpu:
    server:
      - address: 127.0.0.4
  metrics:
    server:
      - address: 127.0.0.4
        port: 9090
  session:
    - subnet: __HOME_UE_SUBNET__
      gateway: __HOME_UE_GATEWAY__
      dnn: __DNN__
  dns: [8.8.8.8, 8.8.4.4]
  mtu: 1400
  freeDiameter: /etc/freeDiameter/smf.conf
